<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

	<bean id="jdbcPropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
		<property name="placeholderPrefix" value="$jdbc{" />
	</bean>

	<bean id="ldapPropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:ldap.properties</value>
			</list>
		</property>
		<property name="placeholderPrefix" value="$ldap{" />
	</bean>

	<jee:jndi-lookup id="dataSource" jndi-name="$jdbc{dataSource.jndi}" />

	<!--jee:jndi-lookup id="ldapContextSource" jndi-name="$ldap{contextSource.jndi}" /-->
	<bean id="ldapContextSource" class="org.springframework.ldap.core.support.LdapContextSource">
		<property name="url" value="ldap://$ldap{host}:$ldap{port}" />
		<property name="base" value="$ldap{base.dn}" />
		<property name="userDn" value="$ldap{bind.dn}" />
		<property name="password" value="$ldap{batch.password}" />
	</bean>

    <!-- ========================= CORE DEFINITIONS ======================== -->
	<import resource="classpath:net/apollosoft/ats/spring/spring-inc.xml" />

    <!-- ========================= TX DEFINITIONS ========================== -->
	<import resource="classpath:net/apollosoft/ats/spring/spring-inc-tx.xml" />

	<import resource="classpath:spring/spring-inc-web.xml" />
	<import resource="classpath:spring/spring-inc-security.xml" />

</beans>