<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName" default-lazy-init="false">

	<bean id="jpaVendorAdapterHibernate"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="showSql" value="$jdbc{hibernate.show_sql}" />
		<property name="generateDdl" value="false" />
		<property name="databasePlatform" value="$jdbc{hibernate.dialect}" />
	</bean>

	<!--
		bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate"> <constructor-arg
		ref="dataSource" /> </bean
	-->

	<bean id="actionDao"
		class="net.apollosoft.ats.audit.dao.hibernate.ActionDaoImpl" />
	<bean id="auditDao"
		class="net.apollosoft.ats.audit.dao.hibernate.AuditDaoImpl" />
	<bean id="commentDao"
		class="net.apollosoft.ats.audit.dao.hibernate.CommentDaoImpl" />
	<bean id="divisionDao"
		class="net.apollosoft.ats.audit.dao.hibernate.DivisionDaoImpl" />
	<bean id="documentDao"
		class="net.apollosoft.ats.audit.dao.hibernate.DocumentDaoImpl" />
	<bean id="groupDao"
		class="net.apollosoft.ats.audit.dao.hibernate.GroupDaoImpl" />
	<bean id="issueDao"
		class="net.apollosoft.ats.audit.dao.hibernate.IssueDaoImpl" />
	<bean id="templateDao"
		class="net.apollosoft.ats.audit.dao.hibernate.TemplateDaoImpl" />
	<bean id="userDao"
		class="net.apollosoft.ats.audit.dao.hibernate.UserDaoImpl" />
	<bean id="userMatrixDao"
		class="net.apollosoft.ats.audit.dao.hibernate.UserMatrixDaoImpl" />

	<bean id="entityDao"
		class="net.apollosoft.ats.audit.dao.hibernate.EntityDaoImpl" />
	<bean id="businessStatusDao"
		class="net.apollosoft.ats.audit.dao.hibernate.BusinessStatusDaoImpl" />
	<bean id="actionFollowupStatusDao"
		class="net.apollosoft.ats.audit.dao.hibernate.ActionFollowupStatusDaoImpl" />		
	<bean id="ratingDao"
		class="net.apollosoft.ats.audit.dao.hibernate.RatingDaoImpl" />
	<bean id="reportTypeDao"
		class="net.apollosoft.ats.audit.dao.hibernate.ReportTypeDaoImpl" />
	<bean id="parentRiskCategoryDao"
		class="net.apollosoft.ats.audit.dao.hibernate.ParentRiskCategoryDaoImpl" />
	<bean id="parentRiskDao"
		class="net.apollosoft.ats.audit.dao.hibernate.ParentRiskDaoImpl" />

	<bean id="functionDao"
		class="net.apollosoft.ats.audit.dao.hibernate.security.FunctionDaoImpl" />
	<bean id="roleDao"
		class="net.apollosoft.ats.audit.dao.hibernate.security.RoleDaoImpl" />
	<bean id="auditGroupDivisionDao"
		class="net.apollosoft.ats.audit.dao.hibernate.AuditGroupDivisionDaoImpl" />
	<bean id="actionGroupDivisionDao"
		class="net.apollosoft.ats.audit.dao.hibernate.ActionGroupDivisionDaoImpl" />

	<bean id="actionResponsibleDao"
		class="net.apollosoft.ats.audit.dao.hibernate.ActionResponsibleDaoImpl" />

</beans>